.rat-li-cont {
  padding-top: 10px;
}
.rat-btn {
  background: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
  color: #475569;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.rat-img {
  width: 130px;
  margin-right: 10px;
}
.dynamic-color {
  color: #0967d2;
}
