.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.search-cont {
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
}
.search-input-sm {
  width: 100%;
  height: 40px;
  border: 0px;
  background-color: #f1f5f9;
  font-weight: bold;
  outline: none;
  font-size: 15px;
}
.search-icon {
  font-size: 18px;
}
.cat-h1 {
  color: #0f172a;
  font-size: 16px;
  padding-left: 6px;
  padding-top: 10px;
  margin-bottom: 0;
}
.cat-ul-cont {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}
.rat-h1 {
  padding-bottom: 7px;
}
.clear-filter-btn {
  border: 1px solid #0967d2;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #0967d2;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  width: 110px;
  height: 40px;
  margin-top: 30px;
  margin-left: 8px;
}
